html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
}

a {
  color: #39c;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  margin-top: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
}

.postDate {
  font-size: 10px;
  color: gray;
}
